<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="My Store Suite" thread-count="2" parallel="methods">
	<test name="My Store Test)">
		<classes>
			<class name="com.qa.testcases.LoginPageTests"></class>
			<class name="com.qa.testcases.HomePageTests"></class>			
		</classes>
	</test>
</suite>
